---
title:	Index

---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class = "Microsoft_YaHei">
  <div id = "headingForIndex">
  {% include navigation.html %}
  </div>
      <div class="index_1 fullh">
    </div>
    <div class="index_2">
      <h1>Sidi Lu's Zone 思迪的园子</h1>
    </div>
    <div class="index_3 container_big">
        <img src = "./images/me.jpg" />
      <div>
        <h1> Researcher and poet</h1>
        <p>
            As a researcher, my research mainly focuses on general aspects of text generation, including practice and theories of auto-regressive fashioned models and non-auto-regressive Markov Random Field models (e.g. BERT).
        </p>
        <p>
            As a poet, my work are mainly identified as misty poetry.
        </p>
    </div> 
  </div>
    <div class="index_4">
        <div><h1>About me ...</h1>
      </div> 
    </div>
    <div class="container_big">
    <div class="index_5 row">
      
      <div class="col-md-6">
        <h1>Current Trend</h1>
            {% for post in site.categories.trend limit:5 %}
	        	{% include brief_post.html %}
	        {% endfor %}  
        <button type="button" class="btn btn_new" onclick="window.open('./trend/index.html')">More</button>
      </div>
      <div class="col-md-5">
        <h1>Recent Chinese Poems</h1>
            {% for post in site.categories.poem limit:5 %}
            {% include brief_post.html %}
            {% endfor %}  
        <button type="button" class="btn btn_new" onclick="window.open('./research/index.html')">More</button>
      </div>
    </div>
    <div class="index_5 row">
      <div class="col-md-6">
        <h1>Recent Research Focus</h1>
            {% for post in site.categories.publications limit:5 %}
            {% include brief_post.html %}
            {% endfor %}  
        <button type="button" class="btn btn_new" onclick="window.open('./research/index.html')">More</button>
      </div>
    </div>
    
  </div>
{% include footer.html %}
