	<div class = "footer">
  		<div id = "left">Powered By <a href="http://www.bootcss.com">BootStrap</a> written &amp; edited in ACM Class PPCA by Sidi Lu
  		</div>
  		<div id = "right">Copyright &copy; 2024 <a href="http://acm.sjtu.edu.cn">ACM Class</a> and Sidi Lu. All rights reserved.</div>
	</div>

	</body>
	<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/jquery.md5.js" | prepend: site.baseurl }}"></script> 
	<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
</html>
