<div class="inners" >
  <nav class="navbar" role="navigation">
    <div class="navbar-header">
      <a href = "{{ "/index.html" | prepend: site.baseurl }}"></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        Navigation<span class="sr-only">Toggle navigation</span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href = "{{ "/index.html" | prepend: site.baseurl }}">Index</a></li>
        <li class="dropdown">
          <a href = "{{ "/research/index.html" | prepend: site.baseurl }}">Research</a>
          <ul class="dropdown-menu" role="menu">
			      <li><a href = "https://scholar.google.com/citations?user=KHMrrfgAAAAJ">Google Scholar</a></li>
            <li><a href = "{{ "/research/publications.html" | prepend: site.baseurl }}">Publications</a></li>
			      <li><a href = "{{ "/research/submissions.html" | prepend: site.baseurl }}">Submissions</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href = "{{ "/chsliterature/index.html" | prepend: site.baseurl }}">Chinese Literature</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href = "{{ "/chsliterature/poem.html" | prepend: site.baseurl }}">诗歌</a></li>
            <li><a href = "{{ "/chsliterature/essay.html" | prepend: site.baseurl }}">杂文</a></li>
            <li><a href = "{{ "/chsliterature/novel.html" | prepend: site.baseurl }}">小说</a></li>
            <li><a href = "{{ "/chsliterature/translation.html" | prepend: site.baseurl }}">翻译</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href = "{{ "/trend/index.html" | prepend: site.baseurl }}">Trend</a>
        </li>
        <li class="dropdown">
            <a href = "{{ "/CV/SidiLu.pdf" | prepend: site.baseurl }}">Contact Me/CV</a>
          </li>
      </ul>
    </div>
  </nav>
</div>
